{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body text-center">
            <h1>Bienvenue sur le test technique de Coquille !</h1>
            <div>
                Il y a 4 exercices à effectuer <br>
                - (obligatoire) Sur la page des clients, un problème de pagination empêche le changement de page. Peux-tu le corriger, s'il te plaît ?
                - (obligatoire) Il faudrait ajouter la colonne "Société" dans le tableau des clients (le champ est déjà présent dans la BDD et le model, il faut seulement l'afficher)
                - Intégrer le mock up suivant sur la page "Qui sommes-nous ?"
                - Terminer le CRUD pour l'entité Product
            </div>
        </div>
    </div>
{% endblock %}