{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body text-center p-5">
            <h1>Bienvenue sur le test technique de Coquille !</h1>
            <div class="mt-5 text-left">
                <p>
                    Le but de ce test est de mieux connaître tes compétences, ce n'est pas un examen d'entrée chez Coquille.
                    Nous serons plus attentifs à ta manière de coder et de résoudre les problèmes plutôt qu'au résultat final.
                </p>
                <p>
                    Le test dure environ <strong>2 heures</strong>, essaye de ne pas y passer plus de temps.
                    Ce n'est pas grave si tout n'est pas terminé.
                </p>
                <p>
                    Concentre-toi d'abord sur <strong>les 2 premiers exercices</strong> qui sont assez simples.
                    Ensuite, si tu manques de temps, tu peux choisir entre <strong>l'exercice 3</strong> si tu as un profil plutôt Front-end ou <strong>l'exercice 4</strong> si tu as un profil plutôt Back-end.
                </p>
            </div>
            <div class="mt-5 text-center">
                N'hésite pas à me contacter si tu restes bloqué trop longtemps sur un exercice ou si tu as des questions.
            </div>
            <div class="mt-3 text-center">
                <h4>Bonne chance !</h4>
            </div>
            <hr>
            <div class="text-left">
                <ul>
                    <li>1. Sur la page des clients, un problème de pagination empêche le changement de page. Peux-tu le corriger, s'il te plaît ?</li>
                    <li>2. Il faudrait ajouter la colonne "Société" dans le tableau des clients (le champ est déjà présent dans la BDD et le model, il faut seulement l'afficher)</li>
                    <li>3. Intégrer le mock up suivant sur la page "Contact" https://www.notion.so/contact-sales tu peux utiliser symfony run watch pour que ton scss se compile automatiquement</li>
                    <li>4. Terminer le CRUD pour l'entité Product</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}